.WalletPreview {
  .ui--AddressMini {
    font-size: 1.2rem;
    height: 4rem;
  }
}

.WalletHeader {
  font-size: 1rem;
}

.WalletDetails {
  margin: .5rem 0 0 5.3rem;
  div {
    margin-bottom: .5rem;
  }
}

.WalletsTitle {
  width: 100%;
}

.TransactionsHeader {
  color: #4e4e4e;
}

.ui--AddressSummary-base.right {
  display: flex;
  float: right;
}

.DfTransfer {
  .ui.pointing.red.label {
    float: left;
  }
  
  .ui.search.selection.dropdown {
    max-width: 34rem;
  }
}

#notes {
  max-width: 100%;
}

.ui--AddressSummary.shrink {
  display: inline;
}

.InputData {
  display: inline-block;
  width: 65%;
}

.ui.scrolling.modal.transition.visible.active {
  width: 55% !important;
}

.modal {
  .ui--AddressSummary-accountId {
    font-size: 1.2rem;
  }
  .ui--Balance.ui--AddressSummary-balance {
    padding:0;
  }
}

.ui.segment.WalletPreview {
  .ui--AddressSummary-accountId {
    padding-top: .6rem;
  }
}

.WalletPreviewDetails {
  margin: 1rem 0 0 5.3rem;
  .ui.label>.detail {
    margin-left: 0;
  }
  .ui.label:not(.ui--Bubble) {
    background: gainsboro;
    margin-right: .5rem;
  }
}

.TxInfo {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  div {
    margin-bottom: .3rem;
  }
}
.TxDestination {
  .ui--AddressSummary-accountId {
    font-size: 1rem !important;
  }
  .ui--Balance.ui--AddressSummary-balance {
    padding-top: 0;
  }
  .ui--AddressRow {
    margin: .5rem 0 .5rem 0;
  }
}

.ui.search.dropdown {
  width: 100%;
}